@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700,;
  }
body{
    margin: 0; /* Margen exterior */
    padding: 0; /* Relleno interno */
    font-family: 'Inter Bold' !important;
}
.informacion{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    padding: 0px;
    gap: 11px;

    width: auto;
    height: 164.11px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.barra{
    display: flex;
padding: 0px;
gap: 10px;
    background-color: #FFFFFF;
    height: 52px;

}
.barra-info{
    display: flex;
    align-items: center;
    padding: 0px 7px 0px 0px;
    gap: 10px;

}
.barra-titulos{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
padding: 0px;

width: auto;
height: auto;
}
.info-titulo{

    font-size: 18px;
    letter-spacing: -0.02em;
    color: #3E3E3E;
}

.info-subtitulo{

    font-size: 14px;
    letter-spacing: -0.02em;
    color: #7C7C7C;
}
.info-botones{
    display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.miBtnVermas{
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
gap: 10px;
    
}
.miBtnVermas button{
    padding: 0px;
    width: 93.25px;
    height: 39px;
    border: none;
    background: #E03030;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}


.miBtnCerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    gap: 10px;
}
.miBtnCerrar button{
    padding: 0px 5px;
    width: 19px;
    height: 39px;
    border: none;
    background: #3E3E3E;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}