@font-face {
  font-family: 'Inter Bold';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700,;
}
@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}
body{
  margin: 0; /* Margen exterior */
  padding: 0; /* Relleno interno */
  font-family: 'Inter Bold' !important;
}
.fondo{
    background-image: url(../img/home.png);
}
/* Ajustes Banner */
.banner{
    background-image:url(../img/background.png);
    height: 250px; 
    background-size: cover; 
    background-position: center;
}
.frame-banner{
    padding-top: 58px;
    gap: 300px;
}
.imagen{
    padding: 0px 10px;
    filter: drop-shadow(0px 4px 4px #000000);
}
@media only screen and (max-width: 1300px) {
    .frame-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .texto {
      display: none;
    }
}
/* Tipo de letra para titulos */
@font-face {
    font-family: 'Marsden Compact Bold';
    src: url('../fonts/Marsden-Ct-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Marsden Compact Black';
    src: url('../fonts/Marsden-Ct-Black.ttf') format('truetype');
}
.titulo{
  font-family: 'Marsden Compact Black', sans-serif;
  font-size: 70px;
  line-height: 84px;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #000000;
}
.subtitulo{
  font-family: 'Marsden Compact Bold', sans-serif;
  font-size: 49px;
  line-height: 58px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #00B0CA;
  text-shadow: 0px 4px 4px #000000;
}
/* -------------------------------------------------- */
.container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative; /* Añade posición relativa para el contenedor */
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  max-width: 100% !important; /* Establecer el valor en "none" o eliminar la propiedad por completo */
}
.fondo{
  background-image: url(../img/home.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
/* Ajuste Filtro */
.filtro{
  width: 530px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: absolute;
  z-index: 1;
  right: calc(0% + 30px); /* Ajusta la distancia del filtro desde el lado derecho */
}
.mapa{
  width: 100%;
  height: 540px;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mapa img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.columna{
  overflow-y: scroll;
  scrollbar-width: thin; /* Ancho del scrollbar */
  padding: 0px;
  height: 475px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 9px;   
}
.columna-titulo{
  align-items: center;
  padding: 0px 15px;
  margin-top: 15px;
}
/* Diseño Scrollbar */
.columna::-webkit-scrollbar {
  width: 21px; /* Ancho del scrollbar en navegadores WebKit */
}
.columna::-webkit-scrollbar-thumb {
  background-color: #7C7C7C; /* Color del thumb del scrollbar */
}
.columna::-webkit-scrollbar-track {
  background-color: #EEEEEE;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.columna::-webkit-scrollbar-button:increment{
  background-color: #00B0CA;
  width: 19px;
  height: 20px;
  border-bottom-right-radius: 9px;
}
.columna::-webkit-scrollbar-button:decrement {
  background-color: #00B0CA;
  width: 19px;
  height: 20px;
  border-top-right-radius: 9px;
}
/* ------------------------------------ */
.titulo-filtro{
  font-size: 22px;
  line-height: 25px;
  align-items: center;
  letter-spacing: -1px;
  color: #3E3E3E;
  padding-left: 9px;
}
.frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 40px;
}
/* Diseño seleccionador */
.seleccionador {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 10px;
  width: 100%;
  height: 40px;
  background: #F0F0F0;
}
.seleccionador i{
  color: #FFFFFF;
  font-size: 28px;
  margin-top: 5px;
  pointer-events: none;
}
.seleccionador.active i::before {
  content: "\f077"; /* Cambia el icono a una flecha hacia arriba */
  color: #FFFFFF;
}
.circulo, .circulo-cbr, .circulo-peap, .circulo-sp, .circulo-administrado, .circulo-mq, .circulo-multi {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.seleccionador-titulo {
  color: #FFFFFF;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  align-items: center;
}
.footer-style{ 
  font-family: 'Inter Regular';
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
/* --------------------------------- */
/* Recuadra para hacer busqueda */
.recuadro-oculto {
  display:none;
  margin-top: 10px;
  width: 100%;
  clear: both;
}
.label-titulo{
  font-family: 'Inter Regular';
  font-size: 15px;
  line-height: 17px;
  align-items: center;
  letter-spacing: -0.02em;
  color: #3E3E3E;
}
/* ------------------------------- */
/* Estilo de select y separacion de input*/
.miSelect, .miInput{
  border: none;
  float:right;
  background:#F0F0F0;
  width: 240px;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  font-family: 'Inter Regular';
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #3E3E3E;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.miSelect:invalid{
  color: #B0B0B0;
}
.años, .region, .comuna  {
  position: relative;
}
/* Cambio de icono al seleccionar */
.años i, .region i, .comuna i {
  font-size: 17px;
  color: #3E3E3E;
  text-align: center;
  padding-top: 7px;
  width: 44px;
  height: 30px;
  background-color: #CFCFCF;
  position: absolute;
  top: 0;
  right: 0px;
  pointer-events: none;
}
.años:hover i,
.region:hover i,
.comuna:hover i {
  background-color: #3E3E3E;
  color: white;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
.años.active i, .region.active i, .comuna.active i {
  background-color: #3E3E3E;
}
.años.active i::before, .region.active i::before, .comuna.active i::before {
  content: "\f077"; /* Cambia el icono a una flecha hacia arriba */
  color: #CFCFCF;
}
/* Disño option*/
.miSelect option[value=""][disabled]{
  display: none;
}
.miSelect option{
  appearance: none;
  background-color: #F0F0F0;
  color: #3E3E3E;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
/* -------------------------- *
/* Estilo de input doble calle */
.miInputDoble{
  font-family: 'Inter Regular';
  border: none; 
  float: right; 
  background: #F0F0F0; 
  width: 105px; 
  height: 30px; 
  font-size: 15px;
  padding-left: 10px;
  outline: none;
}
.miInputDoble::-webkit-inner-spin-button,
.miInputDoble::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.guion{
  float: right; 
  margin-left: 10.5px; 
  margin-right: 10.5px;
  font-family: 'Inter Regular';
  align-items: center;
  letter-spacing: -0.02em;
  font-size: 20px;
  color: #3E3E3E;
}
/* Boton personalizado */
.miBoton{    
  display: flex;
  flex-direction: column;
  align-items: center;
}
.miBoton button {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  border: none;
  background-color: #3E3E3E;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 10px;
  color: #FFFFFF;
  width: 460px;
  height: 34px;
}
.miBoton button:hover{
  background-color: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
::placeholder{
  font-family: 'Inter Regular';
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #B0B0B0;
}
/* Footer */
footer {  
  background-color: #002F5F;
  padding-left: 120px;
  padding-right: 120px;
}
.texto-footer{
  font-family: 'Inter Regular';
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #FFFFFF;
}
.texto-info{
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-align:start;
  color: #FFFFFF;
}
.texto-footer p, .texto-info p{
  margin-top: 12px;
}

/* CSS Resultado */
.resultado {
  bottom: 25px;
  display: none;
  margin:auto;
  border-radius: 9px;
  padding: 20px 16px;
  position: relative;
  width: 1280px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.detalle{
  width: 1248px;
  height: auto;
}
.detalle-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadido */
  padding: 0px;
  height: auto;
}
/* Diseño y ajuste inicio de detalle titulo*/
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inicio i{
  font-size: 29px;
  color: #3E3E3E;
}
.inicio span{
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -1px;
  padding-left: 9px;
  color: #3E3E3E;
}
/* Diseño y ajuste final de detalle titulo */
.boton-cerrar {
  align-items: center;
  padding: 0px 10px;
  width: 29px;
  height: 30px;
  background: #3E3E3E;
}
.boton-cerrar:hover{
  background-color: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
.boton-cerrar i {
  font-weight: 700;
  line-height: 29px;
  font-size: 12px;
  color: #FFFFFF;
}
/* Diseño y ajuste boton anterior */
.boton-anterior{
  align-items: center;
  padding: 0px 10px;
  width: 29px;
  height: 30px;
  background: #3E3E3E;
  border-radius: 9px;
}
.boton-anterior i{
font-weight: 700;
font-size: 12px;
line-height: 29px;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}
.boton-anterior:hover{
  background: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
/* Diseño y ajuste boton anterior */
.boton-siguiente{
  align-items: center;
  padding: 0px 10px;
  width: 29px;
  height: 30px;
  background: #3E3E3E;
  border-radius: 9px;
}
.boton-siguiente i{
  font-weight: 700;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em; 
  color: #FFFFFF;
}
.boton-siguiente:hover{
  background: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
/* Diseño casillas */
.detalle-casilla{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: auto;
}
.casilla{
  align-items: center;
  padding: 0px;
  width: 158.57px;
  height: 30px;
}
.casilla-fondo{
  justify-content: center;
  align-items: center;
  padding: 0px;
  display: flex;
  width: 158.57px;
  height: 30px;
  border-radius: 8px;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
.casilla-con-datos .casilla-fondo{
  /* Estilos para las casillas con datos */
  background: #7C7C7C;
}
.casilla-sin-datos .casilla-fondo{
  /* Estilos para las casillas sin datos */
  background: #B0B0B0;
}
.casilla-titulo{
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
/* Diseño de hover para cada casilla */
#casilla1:hover .casilla-fondo {
  background-color: #E03030;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla2:hover .casilla-fondo {
  background-color: #5675DF;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla3:hover .casilla-fondo {
  background-color: #1E9731;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla4:hover .casilla-fondo {
  background-color: #9747FF;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla5:hover .casilla-fondo {
  background-color: #F423C6;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla6:hover .casilla-fondo {
  background-color: #FC9A27;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
#casilla7:hover .casilla-fondo {
  background-color: #40ABC2;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
/* Casilla seleccionada */
#casilla1.casilla-seleccionada .casilla-fondo {
  background-color: #E03030; /* Fondo para Casilla Catastro */
}
#casilla2.casilla-seleccionada .casilla-fondo {
  background-color: #5675DF; /* Fondo para Casilla CBR */
}
#casilla3.casilla-seleccionada .casilla-fondo {
  background-color: #1E9731; /* Fondo para Casilla AP Y PE*/
}
#casilla4.casilla-seleccionada .casilla-fondo {
  background-color: #9747FF; /* Fondo para Casilla Strip y Power Center */
}
#casilla5.casilla-seleccionada .casilla-fondo {
  background-color: #F423C6; /* Fondo para Casilla Multifamily */
}
#casilla6.casilla-seleccionada .casilla-fondo {
  background-color: #FC9A27; /* Fondo para Casilla Administrado por MQ */
}
#casilla7.casilla-seleccionada .casilla-fondo {
  background-color: #40ABC2; /* Fondo para Casilla Proyectos MQ*/
}
@media (max-width: 1280px) {
  .resultado {
    width: auto;
  }

  .detalle {
    width: auto;
  }

  .detalle-casilla {
    flex-wrap: wrap;
  }

  .casilla {
    flex-basis: calc(20% - 20px);
    margin: 10px;
  }
}
/* Diseño tabla */
#detalle-tabla{
  padding-top: 15px;
}
.table th{
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.table td{
  font-family: 'Inter Regular';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #3E3E3E;
}
/* Tamaño de filas */
thead th:nth-child(1) {
  width: 10px;
  background-color: #FFFFFF;
}
thead th:nth-child(2) {
  width: 400px;
}
thead th:nth-child(3) {
 width: 200px;
}
thead th:nth-child(4) {
  width: 90px;
}
thead th:nth-child(5) {
  width: 90px;
}
thead th:nth-child(6) {
  width: 120px;
}
thead th:nth-child(7) {
  width: 135px;
}
thead th:nth-child(8) {
  width: 173px;
}
/* Personalizar boton exportar */
.miBotonExportar{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.miBotonExportar button:hover{
  background-color: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
.miBotonExportar button{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  border: none;
  background-color: #3E3E3E;
  width: 100%;
  color: #FFFFFF;
  height: 31px;
}

/* CSS Informacion */
.informacion{
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  left: calc(0% + 15%);
}
.barra{
  padding: 0px;
  gap: 10px;
  background-color: #FFFFFF;
  height: 52px;
}
.barra-info{
  display: flex;
  align-items: center;
  padding: 0px 7px 0px 0px;
  gap: 10px;
}
.barra-titulos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px;
  width: auto;
  height: auto;
}
.info-titulo{
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #3E3E3E;
}
.info-subtitulo{
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #7C7C7C;
}
.info-botones{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
}
.miBtnVermas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 10px;
}
.miBtnVermas button{
  padding: 0px;
  width: 93.25px;
  height: 39px;
  border: none;
  background: #E03030;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.miBtnVermas button:hover, .miBtnCerrar button:hover{
  background-color: #00B0CA;
  transition:  0.2s ease-in-out; /* Agregamos una transición suave */
}
.miBtnCerrar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  gap: 10px;
}
.miBtnCerrar button{
  padding: 0px 5px;
  width: 19px;
  height: 39px;
  border: none;
  background: #3E3E3E;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.puntos{
  padding-top: 10px;
}

.puntos img{
  cursor: pointer;
display: none;
}